# Строгий peer-deps выключаем для совместимости RN/Next/Nest
strict-peer-dependencies=false
auto-install-peers=true
# Поднимаем только то, что объявлено явно (меньше фантомных зависимостей)
shamefully-hoist=false
